<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <section style="padding-left: 60px ;">
            <img src="/images/logo-mercado-liebre.svg" alt="logo" width="250px">

        </section>

        <section>
            <div id="search">

                <input type="text" placeholder="Buscar productos, marcas" size="30px">

            </div>

            <div style="padding-left: 20px ;">
                <i class="fa-solid fa-magnifying-glass" style="background-color: white;"></i>

            </div>

            <div class="grid-container">
                <div class="item1"><i class="fa-solid fa-hand-holding-dollar"></i></div>
                <div class="item2">Comprá en cuotas y sin tarjeta de crédito</div>

            </div>

            </div>

            <ul class="no-bullets">

                <li><a href="ofertas.html">Ofertas</a> </li>
                <li><a href="tiendas.html">Tiendas Oficiales</a></li>
                <li><a href="vender.html"> Vender</a></li>
                <li><a href="ayuda.html">Ayuda</a></li>
                <li> <br> </li>
                <li><a href="crearcuenta.html">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="ingresa.html">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="miscompras.html">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>

            </ul>

            <div class="basket">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </div>
        </section>

    </header>
    <main>
        <section>
            <h1 class="titulares">Basado en tu última visita </h1>

            <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" style="width:30%;">
            <div class="bottom-left">
                <p class="precios">$170.000</p>
                <p class="descuentos ">10% Off</p>
                <h3 class="descripciones"> Cafetera-Moulinex</h3>
            </div>

            <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" style="width:30%;">
            <div class="bottom-left">
                <p class="precios">$500.000</p>
                <p class="descuentos ">20% Off</p>
                <h3 class="descripciones"> Macbook-pro-2019</h3>
            </div>

        </section>

        <section>
            <h1 class="titulares"> Sección de Ofertas </h1>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" style="width:30%;">
            <div>
                <p class="precios">$400.000</p>
                <p class="descuentos ">30% Off</p>
                <h3 class="descripciones"> Samsung-Galaxy-S10</h3>
            </div>

            <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart.jpg" style="width:30%;">
            <div>
                <p class="precios">$950.000 </p>
                <p class="descuentos ">35% Off</p>
                <h3 class="descripciones"> Smart TV-Samsung</h3>
            </div>

        </section>
        <script src="https://kit.fontawesome.com/3aaf7bd298.js" crossorigin="anonymous"></script>
    </main>

    <footer>
        <div class="foot">
            <i class="fa-solid fa-credit-card fa-7x"></i>

        </div>
        <section>

            <h4 class="titulares"> Pagá con tarjeta o efectivo</h4>
            <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!
            </p>
        </section>
        <section>

            <div class="foot">
                <i class="fa-solid fa-gift fa-7x"></i>

            </div>
            <h4 class="titulares"> Envío gratis desde $ 2.500</h4>
            <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
                de Mercado Puntos.
            </p>
        </section>

        <section>
            <div class="foot">
                <i class="fa-solid fa-user-shield fa-7x"></i>

            </div>
            <h4 class="titulares"> Seguridad, de principio a fin</h4>
            <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@. </p>
        </section>


        <section>
            <h4 class="titulares"> Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>

        </section>


    </footer>

</body>

</html>