<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="login">


        <form action="" method="post">
           <h3 class="centrar">Ingresá</h3>    

            <input type="text" placeholder="Usuario" size="100%" />
            <br>
            <br>
            <input type="password" placeholder="Contraseña" size="100%" />
            <br>
            <br>
            <div  class = "botonenvio" class="centrar">
                <button  style="justify-content: center ;"   type="submit"><a href="/" class="link">Enviar</a></button>
               
            </div>

        </form>

    </div>
</body>

</html>