<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="crearcuenta">
        <form action="" method="post">
           <h3 class="centrar">Informacion General</h3>    
            
            <input type="text" minlength="5" placeholder="Nombre y Apellido" size="100%" required/>
            <br>
            <br>
            <input type="text" placeholder="Domicilio" size="100%" required />
            <h3 class="centrar">Fecha de Nacimiento</h3>
            <input type="date" placeholder="Fecha de Nacimiento"  />


            <h3 class="centrar">Perfil del Usuario</h3>
            <input type="radio" id="comprador" name="perfil" value="Comprador">
            <label for="comprador"> Comprador</label>
            <input type="radio" id="vendedor" name="perfil" value="Vendedor">
            <label for="vendedor"> Vendedor</label>
            <h3 class="centrar">Categorias de Interes</h3>
            <input type="checkbox" name="intereses" value="Elctro">
            <label for="vendedor"> Electro</label>
            <input type="checkbox" name="intereses" value="Moda">
            <label for="vendedor"> Moda</label>
            <input type="checkbox" name="intereses" value="Hogar">
            <label for="vendedor"> Hogar</label>
            <input type="checkbox" name="intereses" value="Jugueteria">
            <label for="vendedor"> Jugueteria</label>
            <input type="checkbox" name="intereses" value="Vida Sana">
            <label for="vendedor"> Vida Sana</label>

            <h3 class="centrar">Crear Usuario y Contraseña</h3>
            <input type="text" placeholder="Crear Usuario" size="100%" required/>
            <br>
            <br>
            <input type="password" placeholder="Crear Contraseña" size="100%" required/>
            <br>
            <br>
            <div class="boton" class="centrar">
                <button type="submit"><a href="/" class="link">Enviar</a></button>
                <button type="reset">Reiniciar Formulario</button>
            </div>

        </form>




    </div>
</body>

</html>